/**
*   VARIABLES STYLES
**/
$primary-color:#364F6B;
$primary-color-highlight:#fff;
$secundary-color:#3FC1C9;
$secundary-color-highlight:#FC5185;

/*
* size font
*/
$size-nav:0.9rem;
$size-heading-p-mobil:1rem;

$size-heading-mobil:1.5rem;
